body {
    font-family: 'Arial', sans-serif;
    background: url(./img/img2.jpg);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

u1{
    list-style: none;
}


.active{
    text-decoration: underline;
    font-weight: bold;
}

.ctn{
    padding:  8px 15px;
    background-color: #DCC7AA;
    border-radius: 85px;
    color: black;
}

.navbar{
    position: absolute;
    top:0;
    left:0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;

}

.logo{
    color: #657984;
    padding: 30px 0;
}

.nav-links{
    display: flex;
    align-items: center;
}

.nav-links li{
    margin: 0 30px;
}

.nav-links li a {
    color: #657984; 
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}
.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1, h2 {
    color:#DCC7AA;
    ;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #DCC7AA;
    color: #fff;
    padding: 12px 20px;
    border:hsl(from color h s l);
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#goalSection, #progressSection {
    margin-top: 30px;
}

#progressMessage {
    font-size: 18px;
    color: #333;
}
